---
title: "Noobfield Industries"
---

<h1>Welcome to {{ title }}!</h1>
<p>We're a team of two making some cool games!</p>

<h2>Posts:</h2>
<ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
</ul>